<div class="text-center">
  <h1>所有営業所検索フォーム</h1>
</div>
<div class="text-center">
  <%= form_tag branches_path, :method => 'get' do |f| %>
  
    <div class="form-group">
      <%= label :company, '所有企業名' %>
      <%= text_field_tag :company, params[:company] %>
    </div>
    
    <div class="form-group">
      <%= label :branch, '所有営業所名' %>
      <%= text_field_tag :branch, params[:branch] %>
    </div>
    
    <div><%= submit_tag '検索', :name => nil %></div>
  <% end %>
</div>

<%= render 'branches', branches: @branches %>